<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
		<services>
			<service name="Small_Shop_Management_System.ProductService" behaviorConfiguration="ProductServiceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8000/Small_Shop_Management_System"/>
					</baseAddresses>
				</host>
				<endpoint address="ProductService" binding="basicHttpBinding" contract="Small_Shop_Management_System.IProductService">
					
				</endpoint>
			</service>

			<service name="Small_Shop_Management_System.BillService" behaviorConfiguration="BillServiceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:7000/Small_Shop_Management_System"/>
					</baseAddresses>
				</host>
				<endpoint address="BillService" binding="basicHttpBinding" contract="Small_Shop_Management_System.IBillService">

				</endpoint>
			</service>
			
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="ProductServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
				<behavior name="BillServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
    </system.serviceModel>
</configuration>