<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProductService" />
                <binding name="BasicHttpBinding_IBillService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/Small_Shop_Management_System/ProductService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductService"
                contract="ProductServiceReference.IProductService" name="BasicHttpBinding_IProductService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Small_Shop_Management_System/BillService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBillService"
                contract="BillServiceReference.IBillService" name="BasicHttpBinding_IBillService" />
        </client>
    </system.serviceModel>
</configuration>